:root {
  --primary: #000;
  --secondary: #d4d4d4;
}

body {
  overflow: hidden;
}

#app {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}
